@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply dark:bg-gray-900;
}
/* fixed bottom-0 left-0 right-0 */
.navbar {
  @apply dark:bg-gray-800  dark:border-gray-700 flex bg-white flex-row justify-evenly z-50 fixed  bottom-0 left-0 right-0 border-t-2;
}

.navbar-lg {
  @apply lg:pl-2 lg:fixed lg:justify-start lg:h-screen lg:top-0 lg:flex-col lg:w-52 lg:border-t-0  lg:border-r-2;
}

.btn {
  @apply p-2 rounded-md cursor-pointer transition-colors duration-500 active:scale-105;
}

.btn.round {
  @apply flex flex-col justify-center items-center leading-none rounded-full w-12 h-12;

  /*  */
}

.day.active {
  @apply bg-indigo-300 dark:bg-indigo-600;
  /* @apply text-gray-500 dark:text-white; */
}

.day {
  @apply w-[8px] h-[8px] rounded-sm mx-[1px]
  /* @apply p-[1.5px] text-[9px]; */;
}

.day.disabled {
  @apply bg-indigo-100 dark:bg-indigo-900;
  /* @apply text-gray-300 dark:text-gray-700; */
}

.btn.norm {
  @apply p-2 text-sm;
}

.btn.small {
  @apply p-1 text-xs;
}

.alert {
  @apply p-4 mb-4 text-sm rounded-lg;
}

.alert.danger {
  @apply text-rose-500 bg-rose-100 dark:bg-gray-800 dark:text-light-rose;
}

.btn.contained.primary {
  @apply bg-primary text-white hover:bg-primary-light;
}
.btn.contained.danger {
  @apply bg-rose-100 text-rose-400 dark:text-light-rose dark:bg-dark-rose dark:hover:bg-rose-800 hover:bg-rose-200;
}
.btn.outlined.primary {
  @apply bg-transparent text-primary  border-2 border-primary hover:border-primary-light  hover:bg-primary-light hover:text-white;
}

.btn.contained.secondary {
  @apply bg-secondary text-primary  hover:bg-secondary-dark dark:bg-indigo-900 dark:hover:bg-indigo-800 dark:text-primary-light;
}

.btn.outlined.secondary {
  @apply bg-transparent text-secondary border-2 border-secondary  hover:border-secondary-dark hover:bg-secondary-dark;
}

.input {
  @apply bg-gray-50 border outline-none caret-current border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-2/3 p-2.5 m-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.input.error {
  @apply bg-rose-50 caret-rose-400 dark:bg-dark-rose border dark:border-light-rose dark:placeholder-light-rose border-rose-400 text-rose-900 placeholder-rose-400;
}

.error-text {
  @apply ml-2 text-sm text-rose-400 dark:text-light-rose;
}
/* .day-btn {
  @apply text-sm border-primary-500 border-2 text-primary-500 font-medium transition-colors hover:bg-primary-500 hover:text-white;
}

.day-btn-active {
  @apply bg-primary-600 text-white;
} */

/* .task-list-enter {
  opacity: 0;
} */

/* @keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleY(0%);
  }
  100% {
    transform: scaleY(100%);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(100%);
  }
  100% {
    transform: scaleY(0%);
    opacity: 0;
  }
}
 */

@keyframes fade-in {
  0% {
    opacity: 0;
    margin: 0;
    height: 0%;
    transform: scale(0%);
  }
  /* 30% {
    transform: scaleY(50%);
  } */
  100% {
    height: 100%;
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    margin: 0;
    opacity: 1;
    height: 100%;
    transform: scale(100%);
  }
  /* 30% {
    transform: scaleY(50%);
  } */
  100% {
    height: 0%;
    transform: scale(0%);
    opacity: 0;
  }
}

@keyframes hide-show {
  0% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item {
  /* display: none; */
}
.item-enter {
  opacity: 0;
  height: 0;
  margin: 0 !important;
}

/* .item-appear {
  opacity: 0;
  height: 0;
}

.item-appear-active {
  opacity: 0;
  height: 0;
  animation: fade-in 300ms forwards;
  animation-delay: 300ms;
} */

.item-exit {
  /* opacity: 1; */
}

/* .item-visible {
  display: block !important;
} */
/* .item-hidden {
  display: none;
} */

.item-exit-active {
  /* display: block; */
  animation: fade-out 300ms forwards;
  animation-timing-function: ease;
}
.item-enter-active {
  /* display: block; */
  animation: fade-in 300ms forwards;
  animation-delay: 300ms;
  animation-timing-function: ease;
}

.task-list-exit-active {
  animation: hide-show 500ms;
}

.page {
  min-height: 100vh;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;

  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;

  transition: opacity 300ms, transform 300ms;
}
