@tailwind base;
@tailwind components;
@tailwind utilities;

/* fixed bottom-0 left-0 right-0 */
.navbar {
  @apply flex bg-white flex-row justify-evenly z-50 fixed  bottom-0 left-0 right-0 border-t-2;
}

.navbar-lg {
  @apply lg:pl-2 lg:fixed lg:justify-start lg:h-screen lg:top-0 lg:flex-col lg:w-52 lg:border-t-0  lg:border-r-2;
}

.btn {
  @apply p-2 rounded-md cursor-pointer transition-colors duration-500 active:scale-105;
}

.btn.round {
  @apply flex flex-col justify-center items-center leading-none rounded-full w-12 h-12;

  /*  */
}

.btn.norm {
  @apply p-2 text-sm;
}

.btn.small {
  @apply p-1 text-xs;
}

.alert {
  @apply p-4 mb-4 text-sm rounded-lg;
}

.alert.danger {
  @apply text-rose-500 bg-rose-100 dark:bg-gray-800 dark:text-rose-400;
}

.btn.contained.primary {
  @apply bg-primary text-white hover:bg-primary-light;
}
.btn.contained.danger {
  @apply bg-rose-100 text-rose-400 hover:bg-rose-200;
}
.btn.outlined.primary {
  @apply bg-transparent text-primary  border-2 border-primary hover:border-primary-light  hover:bg-primary-light hover:text-white;
}

.btn.contained.secondary {
  @apply bg-secondary text-primary  hover:bg-secondary-dark;
}

.btn.outlined.secondary {
  @apply bg-transparent text-secondary border-2 border-secondary  hover:border-secondary-dark hover:bg-secondary-dark;
}

.input {
  @apply bg-gray-50 border outline-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-2/3 p-2.5 m-2;
}

.input.error {
  @apply bg-rose-50 border border-rose-400 text-rose-900 placeholder-rose-400;
}

.error-text {
  @apply ml-2 text-sm text-rose-400 dark:text-rose-400;
}
/* .day-btn {
  @apply text-sm border-primary-500 border-2 text-primary-500 font-medium transition-colors hover:bg-primary-500 hover:text-white;
}

.day-btn-active {
  @apply bg-primary-600 text-white;
} */

/* .task-list-enter {
  opacity: 0;
} */

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes hide-show {
  0% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* /* .task-list-enter-active {
  animation: fade-in 200ms forwards;
}
/* .task-list-exit {
  opacity: 1;
}
.task-list-exit-active {
  animation: fade-out 200ms forwards;
} */

.item-exit-active {
  animation: fade-out 200ms forwards;
}
.item-enter-active {
  animation: fade-in 200ms forwards;
}

.task-list-exit-active {
  animation: hide-show 500ms;
}

.page {
  height: 100vh;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;

  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;

  transition: opacity 300ms, transform 300ms;
}

.dialog-enter {
  opacity: 1;
}
.dialog-enter-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.dialog-exit {
  opacity: 0;
}
.dialog-exit-active {
  opacity: 1;

  transition: opacity 300ms, transform 300ms;
}
